@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Barry and Sian</h1>
    <p>In a nutshell....We're under construction....But aren't we all!</p>
    <img src="~/images/Barry Sian Nutshell.jpg" class="responsive" />


</div>
<div class="text-left">
    <p>
        We are actors and writers who met a long time ago at The Royal Central School Of Speech And Drama.Since Joining forces we have written and directed several one hour comedy sketch shows. With these shows we've WON BEST NEW COMEDY ACT at the Crouch End Boomtish comedy festival, brought it to the EDINBURGH FESTIVAL and became FINALISTS at the LEICESTER SQUARE SKETCH OFF competition. 
    </p>

    <p>Our last show, a Christmas Special called "OH HOLY SHITE" sold out in London's Museum Of Comedy and also In Brighton. This put us in the official TOP FIVE ACTS TO SEE at the Brighton Comedy Festival.</p>
    <p>
        So, with that we wrote a new show called Barry And Sian: EXPOSED! which went on to be nominated for Best Comedy Act 2019The current lockdown of 2020 has seen our upcoming Brighton Festival show postponed, however we have been keeping ourselves as busy and as active as possible by posting small, <a href="https://www.instagram.com/barry_and_sian/">silly sketches on our Instagram</a>  and our  <a href="https://www.facebook.com/barryandsian/?eid=ARBU1FLVqTSPsqWe5ALg1ieU2CY6L8mvw9mB9rAnLp8JVA9wSIyMfJq_gldXpPvig_ZKmMgrFb7AUv7J">Barry&Sian Facebook page</a>.
    </p>
    <p>
        We in no way wish to make light of the current situation, we simply hope to lighten the mood for those struggling.
    </p>
    <p>
        Our thoughts and support are with all those affected by COVID19 and all those on the frontline 
    </p>

    <p>All the Best,</p>

    <p>Barry (Glennon) and Sian (Hutchinson)</p>
</div>
